li {
  cursor: pointer;
}
body::-webkit-scrollbar {
  width: 0;
}
.products-list-bg-container {
  list-style-type: none;
  margin: 0;
  padding: 8px;
  background: #0c0c0c;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
